-----BEGIN CERTIFICATE-----
MIIEBjCCAu6gAwIBAgIULCcWnyRoGxY7EFw9NAuWGj+/o3EwDQYJKoZIhvcNAQEL
BQAwgZQxHDAaBgNVBAMME1JhaW5ib3dQcm92aWRlci5jb20xGDAWBgNVBAoMD1Jh
aW5ib3dQcm92aWRlcjELMAkGA1UEBhMCRVMxTTBLBgNVBGEMRFRBWElEMTIzNDU2
Nzg5K0VVSUQxMjM0NTY3ODkrRU9SSTEyMzQ1Njc4OStWQVQxMjM0NTY3ODkrTEVJ
MTIzNDU2Nzg5MB4XDTI2MDMwMjAzMzgzNloXDTI3MDMwMjAzMzgzNlowgZQxHDAa
BgNVBAMME1JhaW5ib3dQcm92aWRlci5jb20xGDAWBgNVBAoMD1JhaW5ib3dQcm92
aWRlcjELMAkGA1UEBhMCRVMxTTBLBgNVBGEMRFRBWElEMTIzNDU2Nzg5K0VVSUQx
MjM0NTY3ODkrRU9SSTEyMzQ1Njc4OStWQVQxMjM0NTY3ODkrTEVJMTIzNDU2Nzg5
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvPUwlErKOABtxymS4TFy
/cwf1s81GuMIse2ShKSdtx2/6Djht/bkduH/p3cUkiSsm7PtTrg/815QPsbwWD6B
fmi89XoWmYMHjIr6CUOuI63bRcOEjEf2zoXBhrC+GebE+jJNs51PY6t1F0XR315K
s9j+gGK6u0lSIs2JGWXPqTUvBySW8ixNL70chs89r+ftod4CjH62yhwb3bMVylkN
3HbvVAYdEti3QgQypDTM15bJUoS+afVQPdH2V1mp7/aIcaDPHSTmq1HYA81sMefo
f57/DRVALkqpRO5DkhR91/xFjAtB81+JtrHsvs/GgIo7n2Rxz0fRruxVCPZPmUTC
2wIDAQABo04wTDALBgNVHQ8EBAMCBaAwEwYDVR0lBAwwCgYIKwYBBQUHAwEwCQYD
VR0TBAIwADAdBgNVHQ4EFgQUn2QMA0QcIt03/Ib+dCM7yyv2G04wDQYJKoZIhvcN
AQELBQADggEBAAsGzvkE8+us9D8TNknGgpl0G2xdYcFcAsvKbOwjRc8+Dh/RjL7V
wx5KD6yxjFWqjbBLu2o1gRYCsTwBR18ZfhanwOlLWk55cHFujVePiDeF2/kUpaC9
z/zWDwgdgq04gghwKhAV5S7fblz+5DeEh3Y2E3NN+zlIjUEftx7wjFoe6o8svRyJ
xCD0o/kfupKMKLlmgBp87lZUGsfi5PiR/rTee0pbUsmdInx+VbsPcqrz9aLpk/GF
f+gXhTBg/WoYYmbyCZjSWUjvVuBu2n9bxub5UZw9i8syVxIYwO5yvMNMvr4iVHdW
oKXRc7F7Z2UlK/zb5TypBBUNW6rEXIkLgsQ=
-----END CERTIFICATE-----
