-----BEGIN CERTIFICATE-----
MIIEBjCCAu6gAwIBAgIUYWuCvVRmO1aC8XGCE3s8WoMVBYEwDQYJKoZIhvcNAQEL
BQAwgZQxHDAaBgNVBAMME1JhaW5ib3dDb25zdW1lci5jb20xGDAWBgNVBAoMD1Jh
aW5ib3dDb25zdW1lcjELMAkGA1UEBhMCRVMxTTBLBgNVBGEMRFRBWElEMTIzNDU2
Nzg5K0VVSUQxMjM0NTY3ODkrRU9SSTEyMzQ1Njc4OStWQVQxMjM0NTY3ODkrTEVJ
MTIzNDU2Nzg5MB4XDTI2MDMwMjAzMzc1MloXDTI3MDMwMjAzMzc1MlowgZQxHDAa
BgNVBAMME1JhaW5ib3dDb25zdW1lci5jb20xGDAWBgNVBAoMD1JhaW5ib3dDb25z
dW1lcjELMAkGA1UEBhMCRVMxTTBLBgNVBGEMRFRBWElEMTIzNDU2Nzg5K0VVSUQx
MjM0NTY3ODkrRU9SSTEyMzQ1Njc4OStWQVQxMjM0NTY3ODkrTEVJMTIzNDU2Nzg5
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyq+v5wI4S619vJrHNjD4
5kkJ0Pl8TiAO6XNqIsZ8H0ZLK9ObhY0SxkDCbeegvFVDSC33/67yUeZTXR6J1WPL
Gtsm+NuIrmGTUEX+xP4ZqKTdEQ1RuEt0Lm1HmvGIXms+RkMtMV71Ekt23bdV3/MV
N4T9GyZyZA0zD4eLU1E4SG9Q0ix0aQl+zxglTTXCixU7BO4WptdiJwkBbwhLnujy
qsJcoAzOSM4ivmfTSUmXwCksX2I1qU3gUgmPamna+kvToqXeI883eE1dIcnPnwvb
eFj/kLnCbk78c6EdEvt9PLkprMf/veqyYNZ0tZZXPc9sIQVS2PnqfCyEHlYen1sW
rQIDAQABo04wTDALBgNVHQ8EBAMCBaAwEwYDVR0lBAwwCgYIKwYBBQUHAwEwCQYD
VR0TBAIwADAdBgNVHQ4EFgQUEoLH6Qs3RSx/avBv/8imCoofSKgwDQYJKoZIhvcN
AQELBQADggEBAFR9jJW5NW08pRmnz8+DKq5otERVaY3xLlyST6JeCg+rib/6iuo6
KXjv4pPUcInKjDpMYXxlWBITPZZGKIqBYe6wGmYzROntipO1IGBc/QwheUl7W9ca
PNJlJu1bAxzC/Xd0XQwyV1fJkAUwZeY5jVJQ17q3+JXm8566iENwX5oqQtB6lOnS
CjsfDWGyBUoHpHpKbl63HmZMpJ7SMuKxs1eQREYn1iD3dwviJkVGwVEmaBKFgRQ7
0VkLxJ5XsE9PiZuvSkO1bfrSHotIOR5GU4q103SoGPk/igYJPWc7oazY12cwFEgA
9Dep5OzxWXltSmeF0+E+NEdZt/w7pZnJrPM=
-----END CERTIFICATE-----
